# Ambiente virtual
.venv/
.venv-*/

# uv cache
.uv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
wheels/
*.egg-info/
*.egg

# Testes
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*
!.env.example
